<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>  <!-- zj转换为驼峰命名 -->
    </settings>

	<!-- <typeAliases>
		<typeAlias type="com.cnjy.ecampus.framework.jdbc.vo.PageData" alias="pd"/>
		分页
		<typeAlias type="com.cnjy.ecampus.framework.jdbc.vo.Page" alias="page"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.cnjy.ecampus.framework.jdbc.vo.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*ByPage[0-9]{0,1}$"/>
		</plugin>
	</plugins> -->
	
</configuration>